* {
  margin-top: 0;
  box-sizing: border-box;
}

.homepage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  transition: 0.5s;
  font-family: serif;
}

.video-bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  object-fit: cover;
}

.bg-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
}

.home-text {
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.homepage__h1,
.homepage__p {
  color: #fff;
}

.homepage__h1 {
  color: white;
  font-size: 60px;
}

.homepage__p {
  justify-self: flex-end;
  font-size: 2em;
  color: white;
}

.home-btn {
  width: auto;
  height: 2em;

  border: 2px solid gold;

  z-index: 1;
  font-size: 30px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 100px;
}

.home-btn a {
  color: gold;
  text-decoration: none;
}

.home-btn:hover {
  background-color: gold;
}

.home-btn:hover a {
  color: black;
}
