.produse1 {
  display: flex;
  flex-wrap: wrap;
}
.linie {
  background-color: rgba(0, 0, 0, 0.5);
  height: 2px;
  width: 50%;
  margin: 10px 0;
}

.produs {
  width: 33%;
  display: flex;
  flex-grow: 1;
  padding: 10px;
  box-sizing: border-box;
}
.title {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-left: 10px;
}
