.produse {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.servicii_page {
  padding: 50px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url("../../../public/mind-global-logo.png") no-repeat center;
}

.servicii_page .serviciilenoastretitle {
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  text-align: center;
}

.servicii_page .linie {
  background-color: rgba(0, 0, 0, 0.5);
  height: 2px;
  width: 30%;
  margin: 10px auto;
}

.produsestyle h2,
.servicii h2 {
  padding: 10px 30px;
  inline-size: auto;
  border: 10px;
  background-color: rgba(255, 217, 0, 0.459);
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
}
