.carousel {
  margin: 50px auto;
  max-width: 800px;
}

.slick-slide img {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 300px;
  object-fit: cover;
}

.carousel-content {
  text-align: center;
  margin-top: 20px;
  padding: 0 10px;
}

.carousel-content h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.carousel-content p {
  font-size: 16px;
  line-height: 1.5;
  color: #777;
}
.lucrari-precedente {
  padding: 50px;
}
.lucrari-precedente h1 {
  font-size: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}
@media (max-width: 1024px) {
  .lucrari-precedente {
    max-width: 700px;
  }

  .slick-slide img {
    height: 250px;
  }

  .carousel-content h3 {
    font-size: 20px;
  }

  .carousel-content p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .lucrari-precedente {
    max-width: 500px;
  }

  .slick-slide img {
    height: 200px;
  }

  .carousel-content h3 {
    font-size: 18px;
  }

  .carousel-content p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .carousel {
    max-width: 300px;
  }

  .slick-slide img {
    height: 150px;
  }

  .carousel-content h3 {
    font-size: 16px;
  }

  .carousel-content p {
    font-size: 10px;
  }
}
